doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/js/jquery-ui/jquery-ui.min.css')
  body
    block content
    script(type="text/javascript", src="/js/jquery-2.1.4.min.js")
    script(type="text/javascript", src="/js/jquery-ui/jquery-ui.min.js")
    script(src="/js/quakemap-print.js")